WebSockets: improve handling of different message types

This looks kinda insufficient: https://github.com/celestiaorg/optimint/blob/bfa0fa48319cefbc4c63c25e4655e862e5d3daa5/rpc/json/ws.go#L70-L73

Different message types should be handled properly. Possible message types are defined in [RFC 6455, section 11.8](https://www.rfc-editor.org/rfc/rfc6455.html#section-11.8).